= bootstrap_form_for [:admin, @reseller], layout: :horizontal do |f|
  = render 'shared/error_messages', model: @reseller
  = f.text_field :host, required: true, help: t('.host_help')
  .row.form-group
    %label.control-label.col-md-offset-2.col-md-7{for: "reseller_url_protocol_http"}
      = t('activerecord.attributes.reseller.url_protocol')
    .col-md-offset-2.col-md-8.field
      %label
        %input#reseller_url_protocol_http{name: "reseller[url_protocol]", type: "radio", value: "http", checked: (@reseller.url_protocol == 'http') }
        = t('admin.resellers.form.protocol_url_http')
      %label
        %input#reseller_url_protocol_https{name: "reseller[url_protocol]", type: "radio", value: "https", checked: (@reseller.url_protocol == 'https') }
        = t('admin.resellers.form.protocol_url_https')
  = f.text_field :name, required: true, help: t('.name_help')
  = f.text_field :application_name, help: t('.application_name_help')

  = render 'messagings', f: f
  = render 'help_urls', f: f
  = render 'analysis_urls', f: f
  = render 'social_urls', f: f
  = render 'logo', f: f
  = f.submit
