- ui_order = local_assigns.fetch(:ui_order, 0)
- averages = local_assigns[:averages]
- if averages
  .col-xs-4{title: t("plannings.edit.vehicles_used_help"), style: "order: #{ui_order}"}
    .primary.route-info
      %i.fa.fa-truck-field.fa-fw{"aria-hidden" => "true"}>
      = "#{averages[:vehicles_used]} / #{averages[:vehicles]}"
      = t('plannings.edit.routes')
