- if current_user && !current_user.admin?
  .row.d-flex.flex-wrap
    .col-xs-12.col-md-6.col-lg-4.my-4
      .card.card-shadow.card-height-uniform
        .card-body.pv-1
          %h3.card-title.fw-bold.d-flex.flex-wrap.justify-content-between
            %span
              %i.fa.fa-map-location.fa-fw
              %span= t 'plannings.menu.plannings'
            = link_to new_planning_path, class: "ml-auto btn #{@customer_summary[:plannings][:count] >= @customer_summary[:plannings][:limit] ? 'btn-default disabled' : 'btn-primary'}" do
              %i.fa.fa-fw.fa-plus
              = t('plannings.index.new')
          - if @customer_summary[:plannings][:count] == 0
            .d-flex.justify-content-center.align-items-center.my-4
              %p.card-text.text-muted= t('plannings.index.none')
          - else
            .table-responsive.table-container
              %table.table.table-hover.mb-1
                %thead
                  %tr
                    %th= t 'activerecord.attributes.planning.name'
                    %th.hide-xs= t 'activerecord.attributes.planning.date'
                    %th.hide-md= t 'activerecord.attributes.route.emission'
                    %th.hide-md= t 'activerecord.attributes.planning.tags'
                    %th
                %tbody
                  - @customer_summary[:plannings][:latest].each do |planning|
                    %tr
                      %td
                        = planning.name
                      %td.hide-xs
                        = planning.date && l(planning.date, format: :date)
                      %td.hide-md
                        - emission = planning.routes.map(&:emission).compact.reduce(&:+)
                        - if emission
                          = "#{emission.round(2)} #{t('all.unit.kgco2e_html')}"
                      %td.hide-md
                        - planning.tags.each do |tag|
                          %span
                            = tag_icon tag
                            %span
                            = tag.label
                      %td.text-right
                        .btn-group{ role: 'group'}
                          - if @customer.reseller.planning_dashboard_url
                            = link_to @customer.reseller.planning_dashboard_url.gsub('{LG}', I18n.locale.to_s).gsub('{ID}', current_user.customer.id.to_s).gsub('{P_ID}', planning.id.to_s), target: '_blank', title: t('analytics.index.link'), class: "btn btn-default btn-sm" do
                              %i.fa.fa-chart-line.fa-fw
                          = link_to edit_planning_path(planning), :class => "btn btn-primary btn-sm", title: t('all.verb.edit') do
                            %i.fa.fa-edit.fa-fw
        .card-footer.text-center
          = link_to plannings_path do
            = t('plannings.index.show', count: @customer_summary[:plannings][:count])

    .col-xs-12.col-md-6.col-lg-4.my-4
      .card.card-shadow.card-height-uniform
        .card-body.pv-1
          %h3.card-title.fw-bold.d-flex.flex-wrap.justify-content-between
            %span
              %i.fa.fa-draw-polygon.fa-fw
              = t 'zonings.menu.zonings'
            = link_to new_zoning_path, class: "ml-auto btn #{@customer_summary[:zonings][:count] >= @customer_summary[:zonings][:limit] ? 'btn-default disabled' : 'btn-primary'}" do
              %i.fa.fa-fw.fa-plus
              = t('zonings.index.new')
          - if @customer_summary[:zonings][:count] == 0
            .d-flex.justify-content-center.my-4
              %p.card-text.text-muted= t('zonings.index.none')
          - else

            .table-responsive
              %table.table.table-hover.mb-1
                %thead
                  %tr
                    %th= t 'activerecord.attributes.zoning.name'
                    %th= t 'activerecord.attributes.zoning.updated_at'
                    %th
                %tbody
                  - @customer_summary[:zonings][:latest].each do |zoning|
                    %tr
                      %td
                        = zoning.name
                      %td
                        = l(zoning.updated_at, format: :datepicker)
                      %td.text-right
                        = link_to edit_zoning_path(zoning), :class => "btn btn-primary btn-sm" do
                          %i.fa.fa-edit.fa-fw
        .card-footer.text-center
          = link_to zonings_path do
            = t('zonings.index.show', count: @customer_summary[:zonings][:count])

    .col-xs-12.col-md-6.col-lg-4.my-4
      .card.card-shadow.card-height-uniform
        .card-body.pv-1
          %h3.card-title.fw-bold.d-flex.flex-wrap.justify-content-between
            %span
              %i.fa.fa-map-marker.fa-fw
              = t 'destinations.menu.destinations'
            = link_to new_destination_path, class: "ml-auto btn #{@customer_summary[:destinations][:count] >= @customer_summary[:destinations][:limit] ? 'btn-default disabled' : 'btn-primary'}" do
              %i.fa.fa-fw.fa-plus
              = t('destinations.index.new')
          .row.d-flex.flex-wrap.align-items-center.justify-content-between.my-4
            .col.d-flex.justify-content-center
              = link_to destination_import_path, class: "btn btn-primary" do
                %i.fa.fa-upload.fa-fw
                = t 'destinations.import.title'
            .col.d-flex.justify-content-center
              = link_to destinations_path({format: :excel}), class: "btn btn-default" do
                %i.fa.fa-download.fa-fw
                = t 'all.verb.export.button'
        .card-footer.text-center
          = link_to destinations_path do
            = t('destinations.index.show', count: @customer_summary[:destinations][:count])

    .col-xs-12.col-md-6.col-lg-4.my-4
      .card.card-shadow.card-height-uniform
        .card-body.pv-1
          %h3.card-title.fw-bold.d-flex.flex-wrap.justify-content-between
            %span
              %i.fa.fa-store.fa-fw
              = t 'stores.menu.stores'
            = link_to new_store_path, class: "ml-auto btn btn-primary" do
              .fa.fa-fw.fa-plus
              = t('stores.index.new')
          - if @customer_summary[:stores][:count] == 0
            .d-flex.justify-content-center.my-4
              %p.card-text.text-muted= t('stores.index.none')
          - else
            .table-responsive
              %table.table.table-hover.mb-1
                %thead
                  %tr
                    %th= t 'activerecord.attributes.store.name'
                    %th= t 'activerecord.attributes.store.updated_at'
                    %th
                %tbody
                  - @customer_summary[:stores][:latest].each do |store|
                    %tr
                      %td
                        = store.name
                      %td
                        = l(store.updated_at, format: :datepicker)
                      %td.text-right
                        = link_to edit_store_path(store), :class => "btn btn-primary btn-sm" do
                          %i.fa.fa-edit.fa-fw
        .card-footer.text-center
          = link_to stores_path do
            = t('stores.index.show', count: @customer_summary[:stores][:count])



    - if @customer_summary[:vehicle_usage_sets][:count] < 2 && @customer_summary[:vehicles][:count] <= 5
      .col-xs-12.col-md-6.col-lg-4.my-4
        .card.card-shadow.card-height-uniform
          .card-body.pv-1
            %h3.card-title.fw-bold.d-flex.flex-wrap.justify-content-between
              %span
                %i.fa.fa-truck-field.fa-fw
                = t 'vehicles.menu.vehicles'
            - if @customer_summary[:vehicles][:count] == 0
              .d-flex.justify-content-center.my-4
                %p.card-text.text-muted= t('vehicles.index.none')
            - else
              .table-responsive
                %table.table.table-hover.mb-1
                  %thead
                    %tr
                      %th= t 'activerecord.attributes.vehicles.name'
                      %th= t 'activerecord.attributes.vehicles.updated_at'
                      %th
                  %tbody
                    - @customer_summary[:vehicles][:latest].each do |vehicle|
                      %tr
                        %td
                          = vehicle.name
                        %td
                          = l(vehicle.updated_at, format: :datepicker)
                        %td.text-right
                          = link_to edit_vehicle_usage_path(vehicle), :class => "btn btn-primary btn-sm" do
                            %i.fa.fa-edit.fa-fw
    - elsif @customer_summary[:vehicle_usage_sets][:limit] > 1
      .col-xs-12.col-md-6.col-lg-4.my-4
        .card.card-shadow.card-height-uniform
          .card-body.pv-1
            %h3.card-title.fw-bold.d-flex.flex-wrap.justify-content-between
              %span
                %i.fa.fa-truck-field.fa-fw
                = t 'vehicle_usage_sets.menu.vehicle_usage_sets'
              = link_to new_vehicle_usage_set_path, class: "ml-auto btn #{@customer_summary[:vehicle_usage_sets][:count] >= @customer_summary[:vehicle_usage_sets][:limit] ? 'btn-default disabled' : 'btn-primary'}" do
                %i.fa.fa-fw.fa-plus
                = t('vehicle_usage_sets.index.new')
            - if @customer_summary[:vehicles][:count] == 0
              .d-flex.justify-content-center.my-4
                %p.card-text.text-muted= t('vehicle_usage_sets.index.none')
            - else
              .table-responsive
                %table.table.table-hover.mb-1
                  %thead
                    %tr
                      %th= t 'activerecord.attributes.vehicle_usage_set.name'
                      %th= t 'activerecord.attributes.vehicle_usage_set.updated_at'
                      %th
                  %tbody
                    - @customer_summary[:vehicle_usage_sets][:latest].each do |vehicle_usage_set|
                      %tr
                        %td
                          = vehicle_usage_set.name
                        %td
                          = l(vehicle_usage_set.updated_at, format: :datepicker)
                        %td.text-right
                          = link_to edit_vehicle_usage_set_path(vehicle_usage_set), :class => "btn btn-primary btn-sm" do
                            %i.fa.fa-edit.fa-fw
          .card-footer.text-center
            = link_to vehicle_usage_sets_path do
              = t('vehicle_usage_sets.index.show', count: @customer_summary[:vehicle_usage_sets][:count])
    - if @customer.reseller.customer_dashboard_url
      .col-xs-12.col-md-6.col-lg-4.my-4
        .card.card-shadow.card-height-uniform
          .card-body.pv-1
            %h3.card-title.fw-bold.d-flex.flex-wrap.justify-content-between
              %span
                %i.fa.fa-chart-line.fa-fw
                = t 'analytics.menu.dashboard'
            .row.d-flex.align-items-center.justify-content-between.my-4
              .col.d-flex.justify-content-center
                = link_to @customer.reseller.customer_dashboard_url.gsub('{LG}', I18n.locale.to_s).gsub('{ID}', current_user.customer.id.to_s), target: '_blank', :class => "btn btn-default" do
                  %i.fa.fa-chart-line.fa-fw
                  = t 'analytics.index.link'
