- if @reseller.welcome_url
  %iframe{src: "#{@reseller.welcome_url.gsub('{LG}', I18n.locale.to_s)}"}
- else
  .row
    .col-md-offset-2.col-md-8.header
      .company-logo.text-center
        = image_tag @reseller.logo_large.url || "logo.svg", width: 250, alt: @reseller.name
  .row
    .col-md-offset-1.col-md-10
      %h2
        = t('index.motto')

  - if !current_user.admin?
    .row.m-4.justify-content-center
      .col-md-4.my-4
        .card.shadow{style: "border-radius: 10px; transition: transform 0.2s; box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);"}
          .card-body
            %h3.card-title.fw-bold
              %i.fa.fa-map-location.fa-fw
              = t 'admin.users.kpi.plannings.last'
              - if @kpis[:plannings][:total] != 0
                = link_to new_planning_path, class: "btn btn-primary" do
                  = I18n.t('admin.users.kpi.plannings.add')
            - if @kpis[:plannings][:total] == 0
              %p.card-text.text-muted= I18n.t('admin.users.kpi.plannings.none')
              = link_to new_planning_path, class: "btn btn-primary" do
                = I18n.t('admin.users.kpi.plannings.create')
            - else
    
              .table-responsive
                %table.table.table-hover
                  %thead
                    %tr
                      %th= t 'activerecord.attributes.planning.ref'
                      %th= t 'activerecord.attributes.planning.name'
                      %th= t 'activerecord.attributes.planning.date'
                      %th= t 'activerecord.attributes.planning.tags'
                      %th= t 'activerecord.attributes.planning.updated_at'
                      %th
                  %tbody
                    - @kpis[:plannings][:last].each do |planning|
                      %tr
                        %td
                          = planning.ref
                        %td
                          = planning.name
                        %td
                          = planning.date ? planning.date.strftime(I18n.t('admin.users.kpi.format')) : ''
                        %td
                          - planning.tags.each do |tag|
                            %span
                              = tag_icon tag
                              %span
                              = tag.label
                        %td
                          = planning.updated_at.strftime(I18n.t('admin.users.kpi.format'))
                        %td.text-right
                          = link_to edit_planning_path(planning), :class => "btn btn-primary btn-sm" do
                            %i.fa.fa-edit.fa-fw
          .card-footer.text-center
            = link_to plannings_path do
              = I18n.t('admin.users.kpi.plannings.show', count: @kpis[:plannings][:total])

      .col-md-4.my-4
        .card.shadow{style: "border-radius: 10px; transition: transform 0.2s; box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);"}
          .card-body
            %h3.card-title.fw-bold
              %i.fa.fa-draw-polygon.fa-fw
              = t 'admin.users.kpi.zonings.last'
              - if @kpis[:zonings][:total] != 0
                = link_to new_zoning_path, class: "btn btn-primary" do
                  = I18n.t('admin.users.kpi.zonings.add')
            - if @kpis[:zonings][:total] == 0
              %p.card-text.text-muted= I18n.t('admin.users.kpi.zonings.none')
              = link_to new_zoning_path, class: "btn btn-primary" do
                = I18n.t('admin.users.kpi.zonings.create')
            - else
    
              .table-responsive
                %table.table.table-hover
                  %thead
                    %tr
                      %th= t 'activerecord.attributes.zoning.name'
                      %th= t 'activerecord.attributes.zoning.updated_at'
                      %th
                  %tbody
                    - @kpis[:zonings][:last].each do |zoning|
                      %tr
                        %td
                          = zoning.name
                        %td
                          = zoning.updated_at.strftime(I18n.t('admin.users.kpi.format'))
                        %td.text-right
                          = link_to edit_zoning_path(zoning), :class => "btn btn-primary btn-sm" do
                            %i.fa.fa-edit.fa-fw
          .card-footer.text-center
            = link_to zonings_path do
              = I18n.t('admin.users.kpi.zonings.show', count: @kpis[:zonings][:total])

      .col-md-4.my-4
        .card.shadow{style: "border-radius: 10px; transition: transform 0.2s; box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);"}
          .card-body
            .d-flex.justify-content-between
              %h3.card-title.fw-bold
                %i.fa.fa-map-marker.fa-fw
                = t 'admin.users.kpi.destinations.last'
                = link_to new_destination_path, class: "btn btn-primary" do
                  = I18n.t('admin.users.kpi.destinations.add')
  
            %ul.nav.nav-pills.nav-fill.d-flex.flex-column
              %li.nav-item.m-4
                %span
                  = link_to destinations_path, class: "btn btn-primary" do
                    %i.fa.fa-map-marker.fa-fw
                    = t 'admin.users.kpi.destinations.show'
              %li.nav-item.ml-0.m-4
                %span
                  = link_to destination_import_path, class: "btn btn-primary" do
                    %i.fa.fa-upload.fa-fw
                    = t 'admin.users.kpi.destinations.import'
              %li.nav-item.ml-0.m-4
                %div 
                  = link_to destinations_path({format: :excel}), class: "btn btn-primary" do
                    %i.fa.fa-download.fa-fw
                    = t 'admin.users.kpi.destinations.export' 

    .row.m-4.justify-content-center
      .col-md-4.my-4
        .card{style: "border-radius: 10px; transition: transform 0.2s; box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);"}
          .card-body
            %h3.card-title.fw-bold
              %i.fa.fa-store.fa-fw
              = t 'admin.users.kpi.stores.last'
              - if @kpis[:stores][:total] != 0
                = link_to new_store_path, class: "btn btn-primary" do
                  = I18n.t('admin.users.kpi.stores.add')
            - if @kpis[:stores][:total] == 0
              %p.card-text.text-muted= I18n.t('admin.users.kpi.stores.none')
              = link_to new_store_path, class: "btn btn-primary" do
                = I18n.t('admin.users.kpi.stores.create')
            - else
    
              .table-responsive
                %table.table.table-hover
                  %thead
                    %tr
                      %th= t 'activerecord.attributes.store.icon'
                      %th= t 'activerecord.attributes.store.name'
                      %th= t 'activerecord.attributes.store.city'
                      %th= t 'activerecord.attributes.store.updated_at'
                      %th
                  %tbody
                    - @kpis[:stores][:last].each do |store|
                      %tr
                        %td
                          = store_icon store
                        %td
                          = store.name
                        %td
                          = store.city
                        %td
                          = store.updated_at.strftime(I18n.t('admin.users.kpi.format'))
                        %td.text-right
                          = link_to edit_store_path(store), :class => "btn btn-primary btn-sm" do
                            %i.fa.fa-edit.fa-fw
          .card-footer.text-center
            = link_to stores_path do
              = I18n.t('admin.users.kpi.stores.show', count: @kpis[:stores][:total])

      - if @kpis[:vehicles][:nb_set] < 2 and @kpis[:vehicles][:total] <= 5
        .col-md-4.my-4
          .card.shadow{style: "border-radius: 10px; transition: transform 0.2s; box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);"}
            .card-body
              %h3.card-title.fw-bold
                %i.fa.fa-truck-field.fa-fw
                = t 'admin.users.kpi.vehicles.last'
                - if @kpis[:vehicles][:total] != 0
                  = link_to new_vehicle_usage_set_path, class: "btn btn-primary" do
                    = I18n.t('admin.users.kpi.vehicles.add')
              - if @kpis[:vehicles][:total] == 0
                %p.card-text.text-muted= I18n.t('admin.users.kpi.vehicles.none')
                = link_to new_vehicle_usage_set_path, class: "btn btn-primary" do
                  = I18n.t('admin.users.kpi.vehicles.create')
              - else
      
                .table-responsive
                  %table.table.table-hover
                    %thead
                      %tr
                        %th= t 'activerecord.attributes.vehicles.ref'
                        %th= t 'activerecord.attributes.vehicles.name'
                        %th= t 'activerecord.attributes.vehicles.updated_at'
                        %th
                    %tbody
                      - @kpis[:vehicles][:last].each do |vehicle|
                        %tr
                          %td
                            = vehicle.ref
                          %td
                            = vehicle.name
                          %td
                            = vehicle.updated_at.strftime(I18n.t('admin.users.kpi.format'))
                          %td.text-right
                            = link_to edit_vehicle_usage_path(vehicle), :class => "btn btn-primary btn-sm" do
                              %i.fa.fa-edit.fa-fw
            .card-footer.text-center
              = link_to vehicle_usage_sets_path do
                = I18n.t('admin.users.kpi.vehicles.show', count: @kpis[:vehicles][:total])
