.container
  - if destination.detail
    .d-flex.align-items-center.justify-items-center.mb-1
      .label.label-default.p-3.mr-2
        %i.fa.fa-circle-info
      = destination.detail
  - if destination.comment
    .d-flex.align-items-center.justify-items-center.mb-1
      .label.label-default.p-3.mr-2
        %i.fa.fa-comment-dots
      = destination.comment
  - if destination.phone_number
    .d-flex.align-items-center.justify-items-center.mb-1
      .label.label-default.p-3.mr-2
        %i.fa.fa-phone
      %a{ href: "tel:#{destination.phone_number}" }
        = destination.phone_number

  - if visit&.time_window_start_1
    .d-flex.align-items-center.justify-items-center.mb-1
      .label.label-default.p-3.mr-2
        %i.fa.fa-clock.fa-fw
      = visit.time_window_start_1_time
      \-
      = visit.time_window_end_1_time
  - if visit&.time_window_start_2
    .d-flex.align-items-center.justify-items-center.mb-1
      .label.label-default.p-3.mr-2
        %i.fa.fa-clock.fa-fw
      = visit.time_window_start_2_time
      \-
      = visit.time_window_end_2_time

  - if visit.default_quantities?
    - visit_quantities(stop.visit, @route.vehicle_usage.vehicle).each do |unit|
      .d-flex.align-items-center.justify-items-center.mb-1
        .label.label-default.p-3.mr-2
          %i.fa.fa-fw{ class: unit[:unit_icon] }
        .quantity
          = unit[:quantity]
          = unit[:label]
  .row
    .form-group
      =  bootstrap_form_for stop, url: stop_path, method: :patch, remote: true do |f|
        %label{ for: 'active_status' }
          Status
        .input-group
          #radiobtn.btn-group
            %a.btn.btn-primary{ data: { toggle: 'active_status', title: 'intransit' }, class: ('active' if stop.status == 'intransit') }
              = t('plannings.edit.stop_status.intransit')
            %a.btn.btn-success{ data: { toggle: 'active_status', title: 'delivered' }, class: ('active' if stop.status == 'delivered') }
              = t('plannings.edit.stop_status.delivered')
            %a.btn.btn-warning{ data: { toggle: 'active_status', title: 'exception' }, class: ('active' if stop.status == 'exception') }
              = t('plannings.edit.stop_status.exception')
            %a.btn.btn-danger{ data: { toggle: 'active_status', title: 'undelivered' }, class: ('active' if stop.status == 'undelivered')}
              = t('plannings.edit.stop_status.undelivered')
          = f.hidden_field :position, { name: 'stop[position]', id: 'active_status_position' }
          = f.hidden_field :status_updated_at, { name: 'stop[status_updated_at]', id: 'active_status_updated_at' }
          = f.hidden_field :status, { name: 'stop[status]', id: 'active_status', onchange: "this.form.submit()" }
          = f.hidden_field :id, { name: 'stop_id' }
