- out_pagy ||= nil
- move_stops_route_usable = @manage_planning[:planning_move_stops_usable]
- send_to_route_visible = @manage_planning[:send_stop_to_route_visible]
- send_to_route_usable = @manage_planning[:send_stop_to_route_usable]
- route[:stops]&.each do |stop|
  - if stop[:visits]
    %li.waypoint.d-fake-flex.align-items-center.list-group-item{ class: ('ui-state-error' if stop[:error]), data: { "stop-id": stop[:stop_id], "stop-index": stop[:stop_index], "origin-route-id": route[:route_id] }}
      .row
        .col-xs-6.col-md-1
          %input{ checked: "checked", style: "display: none", type: "checkbox" }
          %i.fa.fa-reorder.fa-fw{style: "display: none;", title: t("plannings.edit.drag_help")}
        .col-xs-6.col-md-5
          .title
            - if !stop[:geocoded]
              %i.fa.fa-map-marker.fa-fw{title: t("plannings.edit.error.no_geolocalization")}
            - sd_line = stop_list_primary_line(stop).presence || stop[:name].to_s
            - title = sd_line
            - title += " # #{stop[:index_visit]}" if stop[:index_visit]
            - sd_line = stop_list_primary_line(stop).presence || stop[:name].to_s
            %span{title: title}
              = sd_line
        .col-xs-6.col-md-3
          - if stop[:time_window_start_end_1]
            .timewindow-info{title: stop[:time_windows_condensed]}
              %i.fa.fa-sort.fa-rotate-90.fa-fw
              = stop[:time_windows_condensed]
        .col-xs-6.col-md-3
          .btn-group.pull-right.stop-tools
            - if move_stops_route_usable && stop[:geocoded]
              %button.automatic_insert.btn.btn-default.btn-xs{title: t("plannings.edit.automatic_insert_help")}
                %i.fa.fa-bolt
            - if @manage_planning[:manage_destination]
              %a.marker_edit.btn.btn-default.btn-xs{href: "/destinations/#{stop[:destination][:destination_id]}/edit?back=true#collapseVisit#{stop[:visit_id]}", title: t("plannings.edit.edit_visit_help")}
                %i.fa.fa-pencil
            - if stop[:geocoded]
              %a.marker.btn.btn-default.btn-xs{href: "#", title: t("plannings.edit.marker_help")}>
                %i.fa.fa-map-marker
            - if send_to_route_visible && stop[:geocoded]
              - send_btn_attrs = { title: t("plannings.edit.send_to_route_help"), type: 'button', disabled: !send_to_route_usable }
              - send_btn_attrs['data-toggle'] = 'dropdown' if send_to_route_usable
              .btn-group.route-select
                %button.btn.btn-default.btn-xs.dropdown-toggle{send_btn_attrs}
                  %i.fa.fa-truck-field.fa-fw
                  %span.caret
                - if send_to_route_usable
                  %ul.dropdown-menu.pull-right{role: "menu"}
                    - summary[:routes].each do |o_route|
                      - if o_route[:vehicle_usage_id]
                        %li
                          %a.send_to_route{href: "/plannings/#{@planning.id}/#{o_route[:route_id]}/#{stop[:stop_id]}/move.json", method: :patch}
                            .color_small{style: "background:#{o_route[:color]}"}
                            = o_route[:name]
          .clearfix
- if !route[:with_stops] && route[:size].to_i > 0
  .d-flex.justify-content-center.load-stops.text-muted{data: { auto_load: true }}
    %span
      %i.fa.fa-spinner.fa-spin.fa-fw
      = t("plannings.edit.load_stops")
