- javascript 'stop'

.container
  .row
    .col-xs-4
      = link_to("/routes/#{@route.id}/mobile") do
        %button.btn.btn-default
          .fa.fa-caret-left
          = t('stops.mobile.back')
    .col-xs-4.text-center{ style: "padding-left: 0px; padding-right: 0px" }
      - if @predecessor_id
        = link_to("/stops/#{@predecessor_id}/edit") do
          %button.btn.btn-default
            .fa.fa-chevron-up
            = t('stops.mobile.previous')
    .col-xs-4
#position
.card.stop-popup
  .card-header
    .row
      .col-xs-1
      .col-xs-1
        #label-index.number.label{ class: "label-#{@stop.status}" }
          = @stop.index
      .col-xs-10
        = @destination.name
  .card-body
    %p.card-text.container
      .row
        .col-xs-1
          %i.fa.fa-map.fa-fw
        .col-xs-4
          .row
            .col-xs-12
              = @destination.street
          .row
            .col-xs-12
              = @destination.postalcode
              = @destination.city
          .row
            .col-xs-12
              = @destination.country

        .col-xs-5.text-right
          %a{ href: "geo:#{@destination.lat},#{@destination.lng}?q=#{@destination.lat},#{@destination.lng}" }
            %button.btn.btn-default
              .fa.fa-diamond-turn-right
              = t('stops.mobile.navigate')
      - if @destination.detail
        .row
          .col-xs-1
            %i.fa.fa-circle-info
          .col-xs-9
            = @destination.detail
      - if @destination.phone_number
        .row
          .col-xs-1
            %i.fa.fa-phone
          .co-xs-9
            = @destination.phone_number

    - if @visit&.time_window_start_1
      .row
        .col-xs-1
          %i.fa.fa-clock.fa-fw
        .col-xs-9
          = @visit.time_window_start_1_time
          \-
          = @visit.time_window_end_1_time
    - if @visit&.time_window_start_2
      .row
        .col-xs-1
          %i.fa.fa-clock.fa-fw
        .col-xs-9
          = @visit.time_window_start_2_time
          \-
          = @visit.time_window_end_2_time

    - if @visit.default_quantities?
      - visit_quantities(@stop.visit, @route.vehicle_usage.vehicle).each do |units|
        .row
          .col-xs-1
            %i.fa.fa-fw{ class: units[:unit_icon] }
          .col-xs-9
            .quantity
              = units[:quantity_formatted]
      .row
        .form-group
          = bootstrap_form_for @stop, url: stop_path, method: :patch, layout: :horizontal, remote: true do |f|
            %label{ for: 'active_status' }
              Status
            .input-group
              #radiobtn.btn-group
                %a.btn.btn-primary{ data: { toggle: 'active_status', title: 'planned' }, class: ('active' if @stop.status == 'planned') }
                  = t('plannings.edit.stop_status.planned')
                %a.btn.btn-warning{ data: { toggle: 'active_status', title: 'started' }, class: ('active' if @stop.status == 'started') }
                  = t('plannings.edit.stop_status.started')
                %a.btn.btn-success{ data: { toggle: 'active_status', title: 'finished' }, class: ('active' if @stop.status == 'finished') }
                  = t('plannings.edit.stop_status.finished')
                %a.btn.btn-danger{ data: { toggle: 'active_status', title: 'rejected' }, class: ('active' if @stop.status == 'rejected')}
                  = t('plannings.edit.stop_status.rejected')
              = f.hidden_field :position, { name: 'stop[position]', id: 'active_status_position' }
              = f.hidden_field :status, { name: 'stop[status]', id: 'active_status', onchange: "this.form.submit()" }
.row
  - if @successor_id
    .col-xs-4.text-center
      = link_to("/stops/#{@successor_id}/edit") do
        %button.btn.btn-default
          .fa.fa-angle-down
          = t('stops.mobile.next')

- controller.js(route_id: @route.id)
