.row.in-route.route-data{"data-route-id": route_data[:route_id]}
  - route_data[:quantities]&.each do |unit|
    - [:delivery].each do |sym|
      - if unit.fetch("has_#{sym}".to_sym)
        .col-xs-4.route-data-advanced
          .route-info{class: "#{route_data[:vehicle_id] ? 'info' : 'inactive'} #{unit[:out_of_capacity] && 'danger'}", title: [unit[:label], sym == :pickup ? t('plannings.edit.route_data_pickup_help') : t('plannings.edit.route_data_delivery_help')].compact.join(' - ')}
            %i.fa.fa-fw{class: unit[:unit_icon]}
            %i.fa.fa-fw.fa-down-long{title: t("plannings.edit.route_data_delivery_help")}
            = unit[:delivery]
            - if unit[:capacity]
              = "/ #{unit[:capacity]}"
            /
            - if unit[:label]
              = "#{unit[:label]}"
  - if route_data[:vehicle_id]
    - if route_data[:duration]
      .col-xs-4
        .route-info.info{class: ('danger' if route_data[:route_out_of_drive_time] || route_data[:route_out_of_work_time]), title: t('plannings.edit.route_duration_help')}
          %i.fa.fa-stopwatch.fa-fw>
          = route_data[:duration]
          - if route_data[:work_or_window_time]
            \/
            = route_data[:work_or_window_time]
    - if route_data[:distance]
      .col-xs-4
        .route-info.info{class: ('danger' if route_data[:route_out_of_max_distance]), title: t('plannings.edit.route_distance_help')}
          %i.fa.fa-road.fa-fw>
          = route_data[:distance]
  - route_data[:quantities]&.each do |unit|
    - [:pickup].each do |sym|
      - if unit.fetch("has_#{sym}".to_sym)
        .col-xs-4.route-data-advanced
          .route-info{class: "#{route_data[:vehicle_id] ? 'info' : 'inactive'} #{unit[:out_of_capacity] && 'danger'}", title: [unit[:label], sym == :pickup ? t('plannings.edit.route_data_pickup_help') : t('plannings.edit.route_data_delivery_help')].compact.join(' - ')}
            %i.fa.fa-fw{class: unit[:unit_icon]}
            - if sym == :pickup
              %i.fa.fa-fw.fa-up-long{title: t("plannings.edit.route_data_pickup_help")}
              = unit[:pickup]
            - if unit[:capacity]
              = "/ #{unit[:capacity]}"
            /
            - if unit[:label]
              = "#{unit[:label]}"
