- javascript 'custom_attribute'
- content_for :title, t('.title')
%h1= t '.title'
.row.row-top
  .col-md-6
    = link_to new_custom_attribute_path, class:"btn btn-primary btn-sm" do
      %i.fa.fa-plus.fa-fw
      = t '.new'
  .col-md-6
    .form-inline.pull-right
      = text_field_tag :custom_attributes_filter, nil, placeholder: t('all.verb.filter'), class: 'form-control', 'data-change' => 'filter', 'data-target' => '#custom_attributes'
      %span#custom_attributes_count= @custom_attributes.count
      = t 'activerecord.models.custom_attributes', count: @custom_attributes.count
= form_tag custom_attributes_path, method: :delete do
  %table#custom_attributes.table.table-striped.table-hover
    %thead
      %tr
        %th
          %button.btn.btn-default.btn-xs{"data-target" => "#custom_attributes", "data-toggle" => "selection", title: "#{t 'all.verb.toggle_selection'}", type: "button"}
            %i.fa.fa-check.fa-fw
        %th= t 'activerecord.attributes.custom_attribute.name'
        %th= t 'activerecord.attributes.custom_attribute.object_type'
        %th= t 'activerecord.attributes.custom_attribute.object_class'
        %th= t "activerecord.attributes.custom_attribute.default_value"
        %th= t 'activerecord.attributes.custom_attribute.description'
        %th
    %tbody
      - @custom_attributes.each do |custom_attribute|
        %tr
          %td= check_box_tag("custom_attributes[#{custom_attribute.id}]", '1', false, 'data-toggle' => 'disable-multiple-actions', 'data-target' => '#multiple-actions')
          %td= custom_attribute.name
          %td= t "custom_attributes.types.#{custom_attribute.object_type}"
          %td= t "activerecord.models.#{custom_attribute.object_class}"
          %td= custom_attribute.display_default_value
          %td= custom_attribute.description
          %td.text-right
            = link_to edit_custom_attribute_path(custom_attribute), :class => 'btn btn-primary btn-sm' do
              %i.fa.fa-edit.fa-fw
              = t 'all.verb.edit'
            = link_to custom_attribute, :class => 'btn btn-danger btn-sm', method: :delete, data: { confirm: t('all.verb.destroy_confirm') } do
              %i.fa.fa-trash.fa-fw
              = t 'all.verb.destroy'
  - unless @custom_attributes.empty?
    #multiple-actions.row
      .col-md-12
        = button_tag type: :submit, class: "btn btn-danger btn-sm", data: { confirm: t('all.verb.destroy_confirm') } do
          %i.fa.fa-trash.fa-fw
          = t('all.verb.destroy_selection')
