- if route[:vehicle_id]
  .last-sent-at
    - if route[:last_sent_at_formatted]
      = render partial: 'routes/last_sent_at.html.haml', locals: { route: route }
  .optimized-at
    - if route[:optimized_at_formatted]
      %label
        %i.fa.fa-gear.fa-fw
        = t('plannings.edit.optimized_at')
      %span
        = route[:optimized_at_formatted]
  .route-tools
    .route-tools__left
      .btn-group.route-btn-group
        - PreferencesHelper::ROUTE_TOOLBAR_VEHICLE_OPTIMIZE.each do |seg|
          - path = Preferences::Catalog.toolbar_operation_partial('route', seg)
          - next if path.blank?
          = render partial: path, locals: { route: route, summary: summary }
    .route-tools__center
      - PreferencesHelper::ROUTE_TOOLBAR_STOPS.each do |seg|
        - path = Preferences::Catalog.toolbar_operation_partial('route', seg)
        - next if path.blank?
        = render partial: path, locals: { route: route, summary: summary }
    .route-tools__right
      .btn-group.route-btn-group
        - PreferencesHelper::ROUTE_TOOLBAR_VIEW_EXPORT.each do |seg|
          - path = Preferences::Catalog.toolbar_operation_partial('route', seg)
          - next if path.blank?
          = render partial: path, locals: { route: route, summary: summary }
- header_order = route_header_block_order
.row.route-data.route-header.display-ui-route-head{"data-route-id": route[:route_id], style: 'display: flex; flex-wrap: wrap;'}
  - header_order.each_with_index do |key, idx|
    - partial = Preferences::Catalog.header_block_partial('route', key)
    - next if partial.blank?
    = render partial: partial, locals: { route: route, summary: summary, ui_order: idx }
- if route[:route_error]
  %ul.ui-state-error
    - if route[:route_no_geolocalization]
      %li{title: t('plannings.edit.error.no_geolocalization_help')}
        %i.fa.fa-map-marker.fa-fw
        = t('plannings.edit.error.no_geolocalization')
    - if route[:route_out_of_window]
      %li{title: t('plannings.edit.error.out_of_window_help')}
        %i.fa.fa-stopwatch.fa-fw
        = t('plannings.edit.error.out_of_window')
    - if !route[:route_unmanageable_capacity] && route[:route_out_of_capacity]
      %li{title: t('plannings.edit.error.out_of_capacity_help')}
        %i.fa.fa-dumpster.fa-fw
        = t('plannings.edit.error.out_of_capacity')
    - if route[:route_unmanageable_capacity]
      %li{title: t('plannings.edit.error.unmanageable_capacity_help')}
        %i.fa.fa-times.fa-fw>
        = t('plannings.edit.error.unmanageable_capacity')
    - if route[:route_out_of_drive_time]
      %li{title: t('plannings.edit.error.out_of_drive_time_help')}
        %i.fa.fa-power-off.fa-fw
        = t('plannings.edit.error.out_of_drive_time')
    - if route[:route_out_of_force_position]
      %li{title: t('plannings.edit.error.out_of_force_position')}
        %i.fa.fa-angle-right.fa-fw
        = t('plannings.edit.error.out_of_force_position')
    - if route[:route_out_of_work_time]
      %li{title: t('plannings.edit.error.out_of_work_time')}
        %i.fa.fa-repeat.fa-fw
        = t('plannings.edit.error.out_of_work_time')
    - if route[:route_out_of_max_distance]
      %li{title: t('plannings.edit.error.out_of_max_distance')}
        %i.fa.fa-ruler.fa-fw
        = t('plannings.edit.error.out_of_max_distance')
    - if route[:route_out_of_max_ride_distance]
      %li{title: t('plannings.edit.error.out_of_max_ride_distance')}
        %i.fa.fa-compass-drafting.fa-fw
        = t('plannings.edit.error.out_of_max_ride_distance')
    - if route[:route_out_of_max_ride_duration]
      %li{title: t('plannings.edit.error.out_of_max_ride_duration')}
        %i.fa.fa-stopwatch-20.fa-fw
        = t('plannings.edit.error.out_of_max_ride_duration')
    - if route[:route_out_of_max_reload]
      %li{title: t('plannings.edit.error.out_of_max_reload_help')}
        %i.fa.fa-arrows-rotate.fa-fw
        = t('plannings.edit.error.out_of_max_reload')
    - if route[:route_out_of_relation]
      %li{title: t('plannings.edit.error.out_of_relation_help')}
        %i.fa.fa-link-slash.fa-fw
        = t('plannings.edit.error.out_of_relation')
    - if route[:route_no_path]
      %li{title: t('plannings.edit.error.no_path_help')}
        %i.fa.fa-road.fa-fw
        = t('plannings.edit.error.no_path')
    - if route[:route_out_of_skill]
      %li{title: t('plannings.edit.error.out_of_skill_help')}
        %i.fa.fa-tags.fa-fw
        = t('plannings.edit.error.out_of_skill')
