- agent = detect_agent
.panel
  .panel-heading.pv-1
    - if @route.ref
      %h4.d-flex.align-items-center.justify-items-center
        .label.label-default.p-3.mr-2
          %i.fa.fa-route.fa-fw
        = @route.ref
    - if @route.vehicle_usage.vehicle.name
      %h4.d-flex.align-items-center.justify-items-center
        .label.label-default.p-3.mr-2
          %i.fa.fa-truck-field.fa-fw
        = @route.vehicle_usage.vehicle.name
    - if date
      %h4.d-flex.align-items-center.justify-items-center
        .label.label-default.p-3.mr-2
          %i.fa.fa-calendar.fa-fw
        = date
    - route_quantities(@route).each do |unit|
      - next if unit[:quantity]&.zero?

      %h4.d-flex.align-items-center.justify-items-center
        .label.label-default.p-3.mr-2
          %i.fa.fa-fw{ class: unit[:unit_icon] }
        .quantity
          = unit[:quantity]
          = unit[:label]
  .panel-body
    - if is_expired
      .alert.alert-warning
        = t("errors.routes.expired")
    - else
      #accordion.panel-group.route-stops{ role: 'tablist', aria_multiselectable: 'true' }
        - previous = nil
        - @stops.each do |stop|
          - next unless stop.active

          - next_status = case stop.status
          - when 'intransit'
            - 'delivered'
          - when nil
            - 'intransit'
          .panel.panel-default
            .panel-heading{ id: ("heading-#{stop.id}"), role: 'tab', style: "padding: 5px", class: "panel-heading-#{stop.status}", href: ("#collapse-#{stop.id}"), data: { toggle: 'collapse', parent: '#accordion'} }
              .d-flex.align-items-center.justify-content-between.mb-1
                .col-xs-2.p-0
                  .d-flex.align-items-center.justify-content-between
                    #label-index.number.label.p-3{ class: ("label-#{stop.status}") }
                      = stop.index
                .col-xs-6.p-0
                  = stop.name
                .col-xs-4.p-0
                  %a#quick-status.col-xs-12.col-sm-6.btn.btn-default.no-toggle.mr-2.pull-right{ data: { toggle: 'active_status', title: next_status }, class: ('d-none' unless next_status) }
                    .d-flex.align-items-center
                      .fa.fa-regular.fa-square-caret-right.mr-2
                      #quick-status-text
                        = t("plannings.edit.stop_status.#{next_status}") if next_status
                  - agent_link = case agent
                  - when :ios
                    - "http://maps.apple.com/?daddr=#{stop.visit.destination.lat},#{stop.visit.destination.lng}"
                  - else
                    - "geo:#{stop.visit.destination.lat},#{stop.visit.destination.lng}?q=#{stop.visit.destination.lat},#{stop.visit.destination.lng}"
              .d-flex.align-items-center
                -# .col-xs-4.p-0{ href: ("#collapse-#{stop.id}"), data: { toggle: 'collapse', parent: '#accordion'} }
                .col-xs-12.p-0.mt-1
                  .d-flex.align-items-center.justify-content-between
                    .col-xs-8.p-0.mr-2
                      = stop.visit.destination.street
                      = stop.visit.destination.postalcode
                      = stop.visit.destination.city
                    .col-xs-4.p-0
                      %a.col-xs-12.col-sm-6.btn.btn-default.no-toggle.mr-2.pull-right{ href: agent_link }
                        .d-flex.align-items-center
                          .fa.fa-diamond-turn-right.mr-2
                          = t("stops.mobile.navigate")
              .d-flex.align-items-center.justify-content-center
                .fa.fa-caret-down.fa-fw
            .panel-collapse.collapse{ id: ("collapse-#{stop.id}"), role: 'tabpanel', class: ('in' unless previous) }
              .panel-body
                = render partial: 'stops/edit', locals: { stop: stop, destination: stop.visit.destination, visit: stop.visit, custom_attributes: custom_attributes }
          - previous = stop
        - if @stops&.empty?
          .alert.alert-warning
            = t("routes.mobile.empty_route")

- controller.js(route_id: @route.id)
