- @reseller_name = @reseller.name
%title= [yield(:title), @reseller_name].select{ |t| !t.empty? }.join(' – ')
= csrf_meta_tags
%meta{charset: "utf-8"}/
%meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
= javascript_pack_tag 'vendor_stylesheet'
= javascript_pack_tag 'vendor', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
= favicon_link_tag 'apple-touch-57.png', :rel => 'apple-touch-icon', :type => 'image/png'
= favicon_link_tag 'apple-touch-72.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '72x72'
= favicon_link_tag 'apple-touch-114.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '114x114'
= favicon_link_tag 'apple-touch-144.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '144x144'
= favicon_link_tag 'touch-icon-192.png', :rel => 'icon', :type => 'image/png', :sizes => '192x192'
= favicon_link_tag @reseller.favicon.url || 'favicon.ico', :rel => 'shortcut icon'
:javascript
  I18n = {};
  I18n.defaultLocale = "#{I18n.default_locale}";
  I18n.locale = "#{I18n.locale}";
/ Javascripts
/ Placed inside head element to support turbolinks
= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
= yield(:javascript)
