.modal.fade{role: "dialog", tabindex: "-1", id: "planning-spreadsheet-modal"}
  .modal-dialog
  .modal-content
    .modal-header
      %button.close{"data-dismiss" => "modal", type: "button"} ×
      %h4.modal-title
        %i.fa.fa-table.fa-fw
        = t 'plannings.edit.dialog.spreadsheet.title'
    .modal-body
      .container-fluid
        %input{name: "spreadsheet-route", type: "hidden", value: ""}/
        .row.row.form-group
          %label.col-md-3.control-label= t 'plannings.edit.dialog.spreadsheet.stops'
          .col-md-9
            %div
              %label
                %input.spreadsheet-stops{checked: "checked", name: "spreadsheet-out-of-route", type: "checkbox", value: "out-of-route"}/
                %span= t 'plannings.edit.dialog.spreadsheet.out_of_route'
            %div
              %label
                %input.spreadsheet-stops{checked: "checked", name: "spreadsheet-stores", type: "checkbox", value: "store"}/
                %span= t 'plannings.edit.dialog.spreadsheet.stores'
            %div
              %label
                %input.spreadsheet-stops{checked: "checked", name: "spreadsheet-rests", type: "checkbox", value: "rest"}/
                %span= t 'plannings.edit.dialog.spreadsheet.rests'
            %div
              %label
                %input.spreadsheet-stops{checked: "checked", name: "spreadsheet-stops-inactives", type: "checkbox", value: "inactive"}/
                %span= t 'plannings.edit.dialog.spreadsheet.stops_inactives'
        .row.row.form-group
          %label.col-md-3.control-label= t 'plannings.edit.dialog.spreadsheet.columns'
          .col-md-9
            #spreadsheet-columns.row
              .col-md-6
                %label
                  %span
                    %i.fa.fa-check.fa-fw{style: "color: green;"}
                    = t 'plannings.edit.dialog.spreadsheet.columns_export'
                %ol#columns-export.columns-export-list
              .col-md-6
                %label
                  %span
                    %i.fa.fa-close.fa-fw{style: "color: red;"}
                    = t 'plannings.edit.dialog.spreadsheet.columns_skip'
                %ul#columns-skip.columns-export-list
            .row
              %p.help-block= t 'plannings.edit.dialog.spreadsheet.columns_DnD_help'
        .row.row.form-group.invisible
          %label.col-md-3.control-label= t 'plannings.edit.dialog.spreadsheet.format'
          .col-md-5
            %label
              %input{name: "spreadsheet-format", type: "radio", value: "csv"}/
              %span= t 'plannings.edit.dialog.spreadsheet.csv'
          .col-md-4
            %label
              %input{checked: "checked", name: "spreadsheet-format", type: "radio", value: "excel"}/
              %span= t 'plannings.edit.dialog.spreadsheet.excel'
    .modal-footer
      %button.btn.btn-default{"data-dismiss" => "modal", type: "button"}= t 'all.verb.dismiss'
      %button#btn-spreadsheet.btn.btn-primary{type: "button"}
        %i.fa.fa-download.fa-fw
        = t 'plannings.edit.dialog.spreadsheet.download'
