!!!
%html{lang: "#{I18n.locale}"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    = render partial: 'layouts/head'
  %body{"data-controller": "#{controller.controller_path.gsub('/', '_')}", "data-action": "#{controller.action_name}"}
    #wrapper
      .menu-left.hidden-print{style: "overflow: hidden;"}
        .top-menu
          %a#logo.logo.logo-small{href: "/"}= image_tag @reseller.logo_small.url || "logo.svg", alt: @reseller.name
          %a#logo.logo.logo-large{href: "/"}= image_tag @reseller.logo_large.url || "logo.svg", alt: @reseller.name

        .divider.solid
        #accordion-menu.menu-content.panel-group
          %ul.menu.menu-list
            %li.divider
            - if user_signed_in? && current_user.admin?
              - if can?(:manage, Customer)
                %li.menu-section.menu-list-item
                  = link_to edit_admin_reseller_path(current_user.reseller) do
                    .d-flex.align-items-center.justify-content-center
                      %i.fa.fa-bank.fa-fw
                      .hidden-menu
                        = t 'admin.resellers.menu.reseller'
                %li.menu-section.menu-list-item
                  = link_to customers_path do
                    .d-flex.align-items-center.justify-content-center
                      %i.fa.fa-user-gear.fa-fw
                      .hidden-menu
                        = t 'customers.menu.customers'
                %li.menu-section.menu-list-item
                  = link_to admin_users_path do
                    .d-flex.align-items-center.justify-content-center
                      %i.fa.fa-user-gear.fa-fw
                      .hidden-menu
                        = t 'admin.users.menu.users'
                %li.menu-section.menu-list-item
                  = link_to delayed_job_path do
                    .d-flex.align-items-center.justify-content-center
                      %i.fa.fa-tower-observation.fa-fw
                      .hidden-menu
                        = t 'admin.jobs.menu.observation'
                %li.menu-section.menu-list-item
                  = link_to rails_performance_path do
                    .d-flex.align-items-center.justify-content-center
                      %i.fa.fa-chart-area.fa-fw
                      .hidden-menu
                        = t 'admin.jobs.menu.performance'
                %li.menu-section.menu-list-item
                  = link_to admin_profiles_path do
                    .d-flex.align-items-center.justify-content-center
                      %i.fa.fa-gear.fa-fw
                      .hidden-menu
                        = t 'admin.profiles.menu.profiles'
            - if user_signed_in? && current_user.customer
              - if !@unsubscribed
                %li#menu-plan.menu-list-item
                  %a.menu-section{'data-toggle': "collapse", 'data-parent': '#accordion-menu', href: '#planningsCollpase'}
                    .d-flex.align-items-center.justify-content-center
                      %i.fa.fa-map-location.fa-fw
                      .hidden-menu.menu_label
                        = t 'plannings.menu.plannings'
                  %ul#planningsCollpase.accordion-menu.menu-content.collapse.hidden-menu
                    %li{ class: ("disabled" if current_user.customer.too_many_plannings?) }
                      = link_to new_planning_path do
                        %i.fa.fa-plus.fa-fw
                        = t 'all.verb.new'
                    %li
                      = link_to plannings_path do
                        %i.fa.fa-map-location.fa-fw
                        = t 'all.verb.list'
                    %li.divider
                    - if current_user.customer.default_max_plannings
                      %li
                        - if current_user.customer.too_many_plannings?
                          %i.fa.text-warning.fa-calendar-xmark{"aria-hidden": "true"}
                          %span.text-warning
                            = current_user.customer.plannings.length
                          \/
                          %span
                            = current_user.customer.default_max_plannings
                          \- #{t 'plannings.menu.plannings'}
                        - else
                          %i.fa.fa-calendar-check{"aria-hidden": "true"}
                          %span
                            = current_user.customer.plannings.length
                          \/
                          %span
                            = current_user.customer.default_max_plannings
                          \- #{t 'plannings.menu.plannings'}
                      - current_user.customer.plannings.select(&:id).each do |planning|
                        %li{style: "display: inline;" }
                          = link_to edit_planning_path(planning) do
                            .text-overflow
                              %i.fa.fa-route.fa-fw
                              = planning.name
              - else
                %li#menu-plan.disabled.menu-section.menu-content.menu-list-item
                  %a{href: "#"}
                    %i.fa.fa-map-location.fa-fw
                    .hidden-menu
                      = t 'plannings.menu.plannings'

              %li#menu-zoning.menu-list-item
                %a.menu-section{'data-toggle': "collapse", 'data-parent': '#accordion-menu', href: '#zoningsCollpase'}
                  .d-flex.align-items-center.justify-content-center
                    %i.fa.fa-draw-polygon.fa-fw
                    .hidden-menu.menu_label
                      = t 'zonings.menu.zonings'
                %ul#zoningsCollpase.accordion-menu.menu-content.collapse.hidden-menu
                  %li{ class: ("disabled" if current_user.customer.too_many_zonings?) }
                    = link_to new_zoning_path do
                      %i.fa.fa-plus.fa-fw
                      = t 'all.verb.new'
                  %li
                    = link_to zonings_path do
                      %i.fa.fa-map-location.fa-fw
                      = t 'all.verb.list'
                  %li.divider
                  - if current_user.customer.default_max_zonings
                    %li
                      - if current_user.customer.too_many_zonings?
                        %i.fa.text-warning.fa-calendar-xmark{"aria-hidden": "true"}
                        %span.text-warning
                          = current_user.customer.zonings.length
                        \/
                        %span
                          = current_user.customer.default_max_zonings
                        \- #{t 'zonings.menu.zonings'}
                      - else
                        %i.fa.fa-calendar-check{"aria-hidden": "true"}
                        %span
                          = current_user.customer.zonings.length
                        \/
                        %span
                          = current_user.customer.default_max_zonings
                        \- #{t 'zonings.menu.zonings'}
                    - current_user.customer.zonings.select(&:id).each do |zoning|
                      %li{style: "display: inline;" }
                        = link_to edit_zoning_path(zoning) do
                          .text-overflow
                            %i.fa.fa-circle-nodes.fa-fw
                            = zoning.name

              %li#menu-destination.menu-list-item
                %a.menu-section{'data-toggle': "collapse", 'data-parent': '#accordion-menu', href: '#destinationsCollpase'}
                  .d-flex.align-items-center.justify-content-center
                    %i.fa.fa-map-marker.fa-fw
                    .hidden-menu.menu_label
                      = t 'destinations.menu.destinations'
                %ul#destinationsCollpase.accordion-menu.menu-content.collapse.hidden-menu
                  %li{ class: ("disabled" if current_user.customer.too_many_destinations?) }
                    = link_to new_destination_path do
                      %i.fa.fa-plus.fa-fw
                      = t 'all.verb.new'
                  %li
                    = link_to destinations_path do
                      %i.fa.fa-map-marker.fa-fw
                      = t 'all.verb.list'
                  %li.divider
                  %li
                    = link_to tags_path do
                      %i.fa.fa-tags.fa-fw
                      = t 'destinations.menu.tags'
                  %li.divider
                  %li
                    = link_to destination_import_path do
                      %i.fa.fa-upload.fa-fw
                      = t 'destinations.menu.import'
                  %li
                    = link_to destinations_path({format: :excel}) do
                      %i.fa.fa-download.fa-fw
                      = t 'destinations.menu.export_spreadsheet_standard'
                  %li.divider
                  %li
                    = link_to destinations_path, method: :delete, data: { confirm: t('destinations.menu.clear_confirm') } do
                      %i.fa.fa-trash.fa-fw
                      = t 'destinations.menu.clear'
              %li.pannel.panel-default.menu-list-item
                %a.menu-section{'data-toggle': "collapse", 'data-parent': '#accordion-menu', href: '#vehiclesCollpase'}
                  .d-flex.align-items-center.justify-content-center
                    %i.fa.fa-truck-field.fa-fw
                    .hidden-menu.menu_label
                      = t 'vehicle_usage_sets.menu.vehicle_usage_sets'
                %ul#vehiclesCollpase.accordion-menu.menu-content.collapse.hidden-menu
                  %li
                    = link_to vehicle_usage_sets_path do
                      %i.fa.fa-truck-field.fa-fw
                      = t 'all.verb.list'
                  %li
                    = link_to import_vehicle_usage_sets_path do
                      %i.fa.fa-upload.fa-fw
                      = t 'vehicle_usage_sets.menu.import_vehicle_usage_sets'
                  %li.divider
                  %li
                    = link_to deliverable_units_path do
                      %i.fa.fa-dumpster.fa-fw
                      = t 'vehicle_usage_sets.menu.deliverable_units'
                  %li
                    = link_to stores_path do
                      %i.fa.fa-store.fa-fw
                      = t 'destinations.menu.stores'
                  %li
                    = link_to store_import_path do
                      %i.fa.fa-upload.fa-fw
                      = t 'destinations.menu.import_stores'
                - if current_user.customer.device.configured? :fleet
                  %li
                    = link_to reporting_index_path do
                      %i.fa.fa-line-chart.fa-fw
                      %span.menu_label= t('reporting.index.title')
            - if user_signed_in?
              #menu-settings
                .divider.solid

                - if @reseller.customer_dashboard_url && current_user.customer
                  %li.menu-section.menu-list-item
                    = link_to @reseller.customer_dashboard_url.gsub('{LG}', I18n.locale.to_s).gsub('{ID}', current_user.customer.id.to_s), target: '_blank' do
                      .d-flex.align-items-center.justify-content-center
                        %i.fa.fa-chart-line.fa-fw
                        .hidden-menu
                          = t 'customers.menu.analytics'

                - if current_user.customer && @reseller.subscription_url && (current_user.customer.test? || (current_user.customer.end_subscription && current_user.customer.end_subscription < Time.now))
                  %li#menu-subscription.subscription.menu-section.menu-list-item
                    = link_to @reseller.subscription_url.gsub('{LG}', I18n.locale.to_s), target: '_blank' do
                      %i.fa.fa-rocket.fa-fw
                      .hidden-menu
                        %span.menu_label
                          = t 'web.subscription'
                - if @reseller.help_url
                  %li#menu-help.help.menu-section.menu-list-item
                    = link_to @reseller.help_url.gsub('{LG}', I18n.locale.to_s), target: '_blank' do
                      .d-flex.align-items-center.justify-content-center.col-md-12.btn.btn-default
                        %i.fa.fa-book-open.fa-fw
                        .hidden-menu.menu_label
                          = t 'web.help'
                %li.dropdown.menu-list-item
                  - if current_user.customer
                    %a.menu-section{'data-toggle': "collapse", 'data-parent': '#accordion-menu', href: '#customerCollpase'}
                      .d-flex.align-items-center.justify-content-center
                        %i.fa.fa-user-gear.fa-fw
                        .hidden-menu
                          %span.menu_label
                            = current_user.customer.name
                  - else
                    %a.menu-section{'data-toggle': "collapse", 'data-parent': '#accordion-menu', href: '#customerCollpase'}
                      .d-flex.align-items-center.justify-content-center
                        %i.fa.fa-user-gear.fa-fw
                        .hidden-menu
                          %span.menu_label
                            = current_user.email
                  %ul#customerCollpase.accordion-menu.menu-content.collapse.hidden-menu
                    - if current_user.customer
                      %li
                        = link_to edit_customer_path(current_user.customer) do
                          %i.fa.fa-wrench.fa-fw
                          = t 'customers.menu.customer'
                      %li
                        = link_to custom_attributes_path do
                          %i.fa.fa-file-lines.fa-fw
                          = t 'custom_attributes.menu.custom_attributes'

                    %li
                      = link_to edit_user_path(current_user) do
                        %i.fa.fa-user-gear.fa-fw
                        = t 'customers.menu.user_settings'
                    %li.divider
                    %li
                      = link_to destroy_user_session_path, method: :delete do
                        %i.fa.fa-power-off.fa-fw
                        = t 'users.menu.sign_out'
            - else
              #menu-settings
                .divider.solid
                %li.menu-list-item
                  = link_to new_user_session_path, class: 'btn' do
                    %i.fa.fa-user-gear.fa-fw
                    .hidden-menu
                      = t 'devise.sessions.new.sign_in'
                - if Planner::Application.config.self_care
                  %li.menu-list-item
                    = link_to new_user_registration_path, class: 'btn' do
                      %i.fa.fa-user-gear.fa-fw
                      .hidden-menu
                        = t 'devise.registrations.new.sign_up'

      .main
        %div
          %iframe{name: "click2call_iframe", style: "display: none"}
        = yield
      %footer.hidden-print
    #default-modal.modal.bootstrap-dialog.type-primary.fade.size-small.in{"aria-hidden": "false", "data-backdrop": "static", "data-toggle": "modal", role: "dialog", style: "display:none;", tabindex: "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %h4
              %i.fa.fa-hourglass-half.modal-icon{style: "display:none;"}
              %span.modal-title
              %button.close{"data-dismiss": "modal", style: "display:none;", type: "button"} ×
          .modal-body
          .modal-footer
            %button.btn.btn-primary{"data-dismiss": "modal", style: "display:none;", type: "button"}
              = t('web.dialog.close')
    = render 'shared/flash_messages'
    = render 'layouts/javascript'
