!!!html

- javascript 'mobile'

%html{lang: "#{I18n.locale}"}
  %head
    = render partial: 'layouts/head'
  %body{"data-controller": "#{controller.controller_path.gsub('/', '_')}", "data-action": "#{controller.action_name}"}
    .mobile_header.d-flex.align-items-center.justify-content-between
      .col
        - if @reseller.website_url
          %a{href: "#{@reseller.website_url.gsub('{LG}', I18n.locale.to_s)}"}
        = image_tag @reseller.logo_small.url || 'logo.svg', alt: @reseller&.name, class: 'company-logo'
      .col
        .form-check.form-switch.mb-0
          %input#location-switch.form-check-input{checked: "checked", role: "switch", type: "checkbox"}
          %label.mb-0
            .fa.fa-location-dot.fa-fw
            = t('stops.mobile.tracking')

    .mobile
      = yield

    = render partial: 'shared/flash_messages'
    = render 'layouts/javascript'
