#optimization-modal.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title
          %i.fa.fa-gear.fa-fw
          = t 'plannings.edit.dialog.optimization.title'
      .modal-body
        .container-fluid
          %input#optimization-route_id{:name => "route_id", :type => "hidden", :value => ""}
          %div
            %h5.d-flex.justify-content-between
              .col-md-6
                %i.fa.fa-map-marker.fa-fw
                = t 'plannings.edit.dialog.optimization.visits.title'
              .col-md-6.text-right
                #optimization-visit-counter
            .ui-state-error.modal-optim-warning
              %span
                %i.fa.fa-warning.fa-fw
              %span
                = t('plannings.edit.dialog.optimization.warning').html_safe
                %button.lock.btn.btn-default.btn-xs
                  %i.fa.fa-lock
            #optimization-global.row
              .col-xs-7
                %label
                  = t 'plannings.edit.dialog.optimization.visits.sticky_vehicle'
              .col-xs-5
                %label{"data-toggle" => "tooltip", :title => "#{t('plannings.edit.dialog.optimization.visits.sticky_vehicle_true_help')}"}
                  = radio_button_tag :sticky_vehicle, :true, !current_user.customer.enable_global_optimization, disabled: !current_user.customer.enable_global_optimization && !current_user.customer.test
                  = t 'all.value._yes'
                %label{"data-toggle" => "tooltip", :title => "#{t('plannings.edit.dialog.optimization.visits.sticky_vehicle_false_help')}"}
                  = radio_button_tag :sticky_vehicle, :false, current_user.customer.enable_global_optimization, disabled: !current_user.customer.enable_global_optimization && !current_user.customer.test
                  = t 'all.value._no'
            #optimization-active.row
              .col-xs-7
                %label
                  = t 'plannings.edit.dialog.optimization.visits.active_only'
              .col-xs-5
                %label{"data-toggle" => "tooltip", :title => "#{t('plannings.edit.dialog.optimization.visits.active_only_true_help')}"}
                  = radio_button_tag :active_only, :true, true
                  = t 'all.value._yes'
                %label{"data-toggle" => "tooltip", :title => "#{t('plannings.edit.dialog.optimization.visits.active_only_false_help')}"}
                  = radio_button_tag :active_only, :false, false
                  = t 'all.value._no'
            - if current_user.customer.enable_optimization_soft_upper_bound && (!@with_stops || !@planning.routes.all?{ |r| r.stops.loaded? } || @planning.routes.any?{ |r| !r.stops.flat_map{ |s| [s.visit.try(:time_window_start_1), s.visit.try(:time_window_end_1), s.visit.try(:time_window_start_2), s.visit.try(:time_window_end_2)] }.compact.empty? })
              #optimization-lateness.row

                .col-xs-7
                  %label
                    = t 'plannings.edit.dialog.optimization.enable_soft_upper_bound'
                .col-xs-5
                  %label{"data-toggle" => "tooltip", :title => "#{t('plannings.edit.dialog.optimization.enable_optimization_soft_upper_bound_true_help')}"}
                    = radio_button_tag :enable_optimization_soft_upper_bound, :true, true
                    = t 'all.value._yes'
                  %label{"data-toggle" => "tooltip", :title => "#{t('plannings.edit.dialog.optimization.enable_optimization_soft_upper_bound_false_help')}"}
                    = radio_button_tag :enable_optimization_soft_upper_bound, :false, false
                    = t 'all.value._no'
              #optimization-vehicle-max-upper-bound.row{ class: ('d-none' unless current_user.customer.enable_optimization_soft_upper_bound) }
                .col-xs-7
                  = t 'plannings.edit.dialog.optimization.vehicle_max_upper_bound'
                .col-xs-5
                  = text_field_tag :vehicle_max_upper_bound, current_user.customer.vehicle_max_upper_bound_time, class: 'form-control', placeholder: t('all.unit.hour_minute')
              #optimization-stop-max-upper-bound.row{ class: ('d-none' unless current_user.customer.enable_optimization_soft_upper_bound) }
                .col-xs-7
                  = t 'plannings.edit.dialog.optimization.stop_max_upper_bound'
                .col-xs-5
                  = text_field_tag :stop_max_upper_bound, current_user.customer.stop_max_upper_bound_time, class: 'form-control', placeholder: t('all.unit.hour_minute')
          - if current_user.customer.optimization_force_start
            %div
              %h5
                %i.fa.fa-truck-field.fa-fw
                = t 'plannings.edit.dialog.optimization.vehicles.title'
              - if current_user.customer.optimization_force_start
                .row
                  .col-xs-7
                    = t 'plannings.edit.dialog.optimization.vehicles.force_start'
                  .col-xs-5
                    %label
                      = t 'all.value._yes'
          - if current_user.customer.deliverable_units.any?{ |du| du.default_optimization_overload_multiplier > 0 && current_user.customer.vehicles.any?{ |v| v.default_capacities[du.id] } }
            %div
              %h5
                %i.fa.fa-dumpster.fa-fw
                = t 'plannings.edit.dialog.optimization.deliverable_units.title'
              - current_user.customer.deliverable_units.each do |du|
                - if current_user.customer.vehicles.any?{ |v| v.default_capacities[du.id] }
                  .row
                    .col-xs-7
                      = t 'plannings.edit.dialog.optimization.deliverable_units.overload_multiplier'
                      = du.label
                    .col-xs-5
                      %label{"data-toggle" => "tooltip", :title => "#{t('plannings.edit.dialog.optimization.deliverable_units.overload_multiplier_true_help')}"}
                        = radio_button_tag "overload_multiplier_#{du.id}", du.default_optimization_overload_multiplier != 0 ? :yes : :no, true, 'unit-id' => "#{du.id}"
                        - if du.default_optimization_overload_multiplier != 0
                          = t 'all.value._yes'
                        - else
                          = t 'all.value._no'
                      %label{"data-toggle" => "tooltip", :title => "#{t('plannings.edit.dialog.optimization.deliverable_units.overload_multiplier_ignore_help')}"}
                        = radio_button_tag "overload_multiplier_#{du.id}", :ignore, false, 'unit-id' => "#{du.id}"
                        = t 'plannings.edit.dialog.optimization.deliverable_units.ignore'
      .modal-footer
        .container-fluid
          .optim-duration.col-xs-6
            %h5.optim-duration-title= t('plannings.edit.dialog.optimization.optimization_time')
            #min-optim-duration
            #max-optim-duration
          .optim-validate
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}= t 'all.verb.cancel'
            %button#optimize.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}= t 'plannings.edit.dialog.optimization.optimize'
